/* .list input, .list textarea{
    border: 0;
    box-shadow: 1px 1px 7px rgb(226, 223, 223), -1px -1px 7px rgb(226, 223, 223);
}

.list textarea{
    resize: none;
}

.list input:focus, .list textarea:focus{
    box-shadow: 1px 1px 7px rgb(226, 223, 223), -1px -1px 7px rgb(226, 223, 223);
}

.list .btn{
    background-color: orange;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.list .btn:hover{
    background-color: rgb(250, 170, 21);
    font-weight: 600;
} */