
/* .card{
    box-shadow: 2px 2px 10px rgb(226, 223, 223), -1px -1px 10px rgb(226, 223, 223);
    width: 80% !important;
}

.card .card-header{
    background-color: orange;
}

.card .card-header p{
    font-size: 20px;
    font-weight: 600;
} */