<app-header></app-header>
<div>
  <router-outlet></router-outlet>
</div>
<!-- <div class="row my-3 justify-content-center align-items-center px-0 mx-0">
    <div class="col-md-10 col-12 align-self-center text-center">
        <div class="card my-5 mx-auto border border-0">
            <div class="card-header">
                <p class="my-0">Display LIST</p>
            </div>
            <div class="card-body p-0 m-0">
              <app-showlist></app-showlist>
            </div>
          </div>
    </div>
</div> -->
<!-- 
<router-outlet></router-outlet> -->