<div class="row my-3 justify-content-center align-items-center px-0 mx-0">
  <div class="col-md-10 col-12 align-self-center text-center">
      <div class="card my-5 mx-auto border border-0">
          <div class="card-header">
              <p class="my-0">Display LIST</p>
          </div>
          <div class="card-body">
            <div class="table-wrapper-scroll-y my-custom-scrollbar border border-0">
              <table class="table table-responsive table-stripped">
                <thead>
                  <th>Sr.no</th>
                  <th>title</th>
                  <th>Description</th>
                  <th>Action</th>
                </thead>
            
                <tbody>
                  <tr *ngFor="let note of notes; let i = index;">
                    <td style="width: 10%;"><p class="my-1">{{i+1}}</p></td>
                    <td style="width: 20%;"><p class="truncate my-1" style="-webkit-line-clamp: 1;">{{note.title}}</p></td>
                    <td style="width: 40%;"><p class="truncate my-1" style="-webkit-line-clamp: 1;">{{note.description}}</p></td>
                    <td style="width: 30%;"> <a href="edit/{{note.id}}" class="btn btn-success my-1">EDIT</a> | <button (click)="removeTask(note)" class="btn btn-danger my-1">DELETE</button> </td>
                  </tr>
                </tbody>
            
              </table>
            </div>
          </div>
        </div>
  </div>
</div>
